{% include "header.html" with page="admin" css="admin" title="Adelie Online" %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="span4">
            <div class="hero-unit" id="leftHolder">
                <input type="button" value="Add a Game" onClick="window.location = '/admin'" />
            </div>
        </div>
        <div class="span13" id="rightHolder">
            <table>
                <tr><th>Product Name</th><th>Ready?</th><th>Active</th><th>Credit Given?</th><th>View/Give Credit</th></tr>
                {% for product in products.all %}
                    <tr>
                        <td><a href="/admin/showproduct/{{ product.id }}">{{ product.name }}</a></td>
                        <td>{{ product.is_ready }}</td>
                        <td>{{ product.is_active }}</td>
                        <td>{{ product.credited }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div id="AddGames">
                <span class="error" id="unknownError">There was an unknown error, please try again later</span>
                <span class="error" id="titleBlank">Please enter a game title</span>
                <span class="error" id="titleDuplicate">Product name already exists</span>
                <label>Product Name:</label>
                <input type="text" name="product_name" id="product_name" /><br />

                <span class="error" id="tagBlank">Please enter a tag line</span>
                <label>Tag Line:</label>
                <input type="text" name="product_tag_line" id="product_tag_line" /><br />

                <span class="error" id="priceBlank">Please enter a price</span>
                <span class="error" id="priceBelowZero">Please enter a price above 0</span>
                <label>Price: $</label>
                <input type="text" name="product_price" id="product_price" /><br />

                <span class="error" id="descBlank">Please enter a description of the game</span>
                <label>Description:</label>
                <textarea name="product_desc" id="product_desc"></textarea><br />

                <span class="error" id="startBlank">Please enter a start date</span>
                <span class="error" id="timeDiff">Make sure the end date is later than the start date</span>
                <label>Order Start Time:</label>
                <input type="text" name="product_start" id="product_start" autoComplete="off" />
                <input type="text" name="product_start_time" id="product_start_time" class="time"><br />

                <span class="error" id="endBlank">Please enter an end date</span>
                <label>Order End Time:</label>
                <input type="text" name="product_end" id="product_end" autoComplete="off" />
                <input type="text" name="product_end_time" id="product_end_time" class="time"><br />

                <span class="error" id="shipError">Shipping date must be later than end date</span>
                <span class="error" id="shipBlank">Please enter a shipping date</span>
                <label>Shipping Date</label>
                <input type="text" name="product_ship" id="product_ship" autoComplete="off" /><br />

                <p>You can add pictures on the next page</p>

                <button id="submitBtn" onClick="submitGame()">Add Product</button>
            </div>
        </div>
    </div>
</div>
{% else %}
<h3>Please go back to the home page. Thank you.</h3>
{% endif %}
{% include "footer.html" with js="admin" %}
