{% include "header.html" with page="adminshowproduct" css="adminshowproduct" title="Adelie Online" %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="span4">
            <div class="hero-unit" id="leftHolder">
                <input type="button" value="Add a Game" onClick="window.location = '/admin'" />
            </div>
        </div>
        <div class="span13" id="rightHolder">
            <div id="AddGames">
                <span class="error" id="unknownError">There was an unknown error, please try again later</span>
                <span class="error" id="titleBlank">Please enter a game title</span>
                <span class="error" id="titleDuplicate">Product name already exists</span>
                <label>Product Name:</label>
                <input type="text" name="product_name" id="product_name" value="{{ product.name }}" /><br />

                <span class="error" id="tagBlank">Please enter a tag line</span>
                <label>Tag Line:</label>
                <input type="text" name="product_tag_line" id="product_tag_line" value="{{ product.tagLine }}" /><br />

                <span class="error" id="priceBlank">Please enter a price</span>
                <span class="error" id="priceBelowZero">Please enter a price above 0</span>
                <label>Price: $</label>
                <input type="text" name="product_price" id="product_price" value="{{ product.price|floatformat:2 }}"/><br />

                <span class="error" id="descBlank">Please enter a description of the game</span>
                <label>Description:</label>
                <textarea name="product_desc" id="product_desc">{{ product.description }}</textarea><br />

                <span class="error" id="startBlank">Please enter a start date</span>
                <span class="error" id="timeDiff">Make sure the end date is later than the start date</span>
                <label>Order Start Time:</label>
                <input type="text" name="product_start" id="product_start" autoComplete="off" value='{{ product.startTime|date:"m/d/Y" }}'/>
                <input type="text" name="product_start_time" id="product_start_time" class="time" value='{{ product.startTime|date:"H:i:s" }}' /><br />

                <span class="error" id="endBlank">Please enter an end date</span>
                <label>Order End Time:</label>
                <input type="text" name="product_end" id="product_end" autoComplete="off" value='{{ product.endTime|date:"m/d/Y" }}' />
                <input type="text" name="product_end_time" id="product_end_time" class="time" value='{{ product.endTime|date:"H:i:s" }}' /><br />

                <span class="error" id="shipError">Shipping date must be later than end date</span>
                <span class="error" id="shipBlank">Please enter a shipping date</span>
                <label>Shipping Date</label>
                <input type="text" name="product_ship" id="product_ship" autoComplete="off" value='{{ product.shipDate|date:"m/d/Y" }}' /><br />

                <button id="submitBtn" onClick="editGame()">Edit Game</button>
            </div>
            <div id="addPictures">
                <ul id="pictureList">
                {% for pic in product.pictures.all %}
                    <li>
                        <img src="{{ pic.picture.url }}" height="90px" width="90px" />
                        <span class="picCaption">{{ pic.caption }}
                        <button class="picdelete btn btn-danger" onClick="deletePic({{ pic.id }})">Delete</button></span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}" />
                {{ pictureForm }}<br />
                <input type="submit" class="btn btn-primary" value="Add Picture" />
            </form>
        </div>
    </div>
</div>
{% else %}
<h3>Please go back to the home page. Thank you.</h3>
{% endif %}
{% include "footer.html" with js="adminshowproduct" %}
