{% include "header.html" with page="products" css="allproducts" title="Adelie Online" %}
<div class="container">
    <div class="row">
        <div class="span2">
            <div class="hero-unit" id="leftHolder">
                <ul id="consoleList">
                    <li><a href="/products">All Products</a></li>
                </ul>
            </div>
        </div>
        <div class="span10 row" id="rightHolder">
            <select id="sort" onChange="sort_products();">
                <option value="ending">Ending Soonest</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="most">Most Bought</option>
                <option value="least">Least Bought</option>
            </select>
            <ul id="products_list">
                {% for product in products %}
                    <li id="list{{ product.id }}">
                        <div class="span2">
                            <span class="picture"><img src="{{ product.picture.picture.url }}" width="100px" height="100px" /></span><br />
                            <span class="ends">Ends: {{ product.daysLeft }}:{{ product.hoursLeft }}:{{ product.minutesLeft }}:{{ product.secondsLeft }}</span>
                        </div>
                        <div class="span2">
                            <a href="/products/show/{{ product.name }}?pat=ap"><span class="title">{{ product.name }}</span></a> <br />
                            <span class="ships">Ships: {{ product.shipDate|date:"m/d/Y" }}</span>
                        </div>
                        <div class="span3">
                            {% if product.description|length > 160 %}
                                {{ product.description|slice:":160" }}...<a href="/products/show/{{ product.name }}">Read More</a>
                            {% else %}
                                {{ product.description }}
                            {% endif %}
                        </div>
                        <div class="span2">
                            <button class="preorderButton" onClick="window.location = '/products/show/{{ product.name }}?pat=ap'">Pre-Order Now</button> <br />
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    products = [];
    {% for product in products %}
        product = {}
        product['id'] = "{{ product.id }}";
        product['title'] = "{{ product.name }}";
        product['purchased'] = {{ product.order_count }};
        product['end'] = "{{ product.endDate|date:'y/m/d f' }}";
        products.push(product)
    {% endfor %}
</script>
{% include "footer.html" with js="allproducts" %}
