{% include "header.html" with page="products" css="allproducts" title="Adelie Online" %}
<div class="container">
    <div class="row">
        <div class="span12 row" id="rightHolder">
            <select id="sort" onChange="sort_products();">
                <option value="ending">Ending Soonest</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="most">Most Bought</option>
                <option value="least">Least Bought</option>
            </select>
            <ul id="products_list">
                {% for product in products %}
                    <li id="list{{ product.id }}">
                        <table><tr>
                            <td>
                                <span class="picture"><img src="{{ product.picture.picture.url }}" width="100px" height="100px" /></span><br />
                            </td>
                            <td>
                                <a href="/products/show/{{ product.name }}?pat=ap"><span class="title">{{ product.name }}</span></a> <br />
                                <span class="ships">Ships: {{ product.shipDate|date:"m/d/Y" }}</span>
                            </td>
                            <td>
                            {% if product.description|length > 160 %}
                                {{ product.description|slice:":160" }}...<a href="/products/show/{{ product.name }}">Read More</a>
                            {% else %}
                                {{ product.description }}
                            {% endif %}
                            </td>
                            <td>
                            <button class="preorderButton" onClick="window.location = '/products/show/{{ product.name }}?pat=ap'">Pre-Order Now</button> <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <span class="ends">Ends: </span><br />
                                <span id="countdown_game_{{ product.id }}"></span>
                            </td>
                    </tr></table>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    products = [];
    product_countdowns = [];
    {% for product in products %}
        product_countdowns.push(['{{ product.id }}', '+{{ product.daysLeft }}d +{{ product.hoursLeft }}h +{{ product.minutesLeft }}m +{{ product.secondsLeft }}s']);
        product = {}
        product['id'] = "{{ product.id }}";
        product['title'] = "{{ product.name }}";
        product['purchased'] = '{{ product.order_count }}';
        product['end'] = "{{ product.endDate|date:'y/m/d f' }}";
        products.push(product)
    {% endfor %}
</script>
{% include "footer.html" with js="allproducts" %}
