{% include "header.html" with page="index" css="index" title="Adelie Online" %}
<div class="container-fluid">
    <div id="gameRoulette">
        {% for product in products %}
            <div class="slide" id="{% cycle 'slide1' 'slide2' 'slide3' 'slide4' 'slide5' %}">
                <div id="leftSlide" class="span3">
                    <span class="shipDate">Ships {{ product.shipDate|date:"m/d/Y" }}</span> <br />
                    <button class="preorderButton" onClick="window.location = '/products/show/{{ product.name }}?pat=i'">Pre-Order</button><br />
                    <span class="gameTitle"><h1>{{ product.name }}</h1></span><br />
                    <span class="tagLine">"{{ product.tagLine }}"</span><br />
                    <span class="price"><h2>${{ product.price|floatformat:2 }}</h2></span><br />
                </div>
                <div id="middleSlide" class="span6">
                    <span class="countdown" id="countdown_game_{{ product.id }}"></span> <br />
                    <br />
                    <img class="main_picture" id="main_picture_product_{{ product.id }}" src="{{ product.pictures.all.0.picture.url }}" width="425px;" />
                    {% for picture in product.pictures.all %}
                    <img class="small_picture" src="{{ picture.picture.url }}" onClick="change_picture('{{ product.id }}', '{{ picture.picture.url }}');" width="85px;" />
                    {% endfor %}
                </div>
                <div id="rightSlide" class="span3">
                    <span class="desc">
                        {% if product.description|length > 160 %}
                            {{ product.description|slice:":160" }}...<a href="/products/show/{{ product.name }}">Read More</a>
                        {% else %}
                            {{ product.description }}
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endfor %}
        <div id="rouletteNumbers">
            {% for product in products%}
                <button id="number{% cycle '1' '2' '3' '4' '5' %}" onClick="changeSlide({% cycle '1' '2' '3' '4' '5' %})">{% cycle '1' '2' '3' '4' '5' %}</button>
            {% endfor %}
        </div>
    </div>
    <div id="upcomingGame">
        {% if upcoming %}
            {% if upcoming.daysLeft == 0 %}
                <h1>{{ upcoming.name }}</h1>
                <span id="countdown_upcoming"></span>
            {% else %}
                <h1>Next Game Pre-Order Begins In:</h1>
                <span id="countdown_upcoming"></span>
                <p>Check back 24 hours before launch to find out what awesome game is released! Pre-Order early for greater rewards!</p>
            {% endif %}
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    all_products = []
    product_picture_sources = []
    {% for product in products %}
        all_products.push(['{{ product.id }}', '+{{ product.daysLeft }}d +{{ product.hoursLeft }}h +{{ product.minutesLeft }}m +{{ product.secondsLeft }}s']);
        product_pictures = []
        {% for picture in product.pictures.all %}
            product_pictures.push('{{ picture.picture.url }}')
        {% endfor %}
        product_picture_sources.push(product_pictures);
    {% endfor %}
    {% if upcoming %}
        upcoming_countdown = '+{{ upcoming.daysLeft }}d +{{ upcoming.hoursLeft }}h +{{ upcoming.minutesLeft }}m +{{ upcoming.secondsLeft }}s'
    {% endif %}
</script>
{% include "footer.html" with js="index" %}
