{% include "header.html" with page="index" css="index" title="Adelie Online" %}
<div class="container-fluid">
    <div id="gameRoulette">
        {% for product in products %}
            <div class="slide" id="{% cycle 'slide1' 'slide2' 'slide3' 'slide4' 'slide5' %}">
                <div id="leftSlide" class="span3">
                    <span class="shipDate">Ships {{ product.shipDate|date:"m/d/Y" }}</span> <br />
                    <button class="preorderButton" onClick="window.location = '/products/show/{{ product.name }}?pat=i'">Pre-Order</button><br />
                    <span class="gameTitle"><h1>{{ product.name }}</h1></span><br />
                    <span class="tagLine">"{{ product.tagLine }}"</span><br />
                    <span class="price"><h2>${{ product.price|floatformat:2 }}</h2></span><br />
                </div>
                <div id="middleSlide" class="span6">
                    <span class="countdown">{{ product.daysLeft }}:{{ product.hoursLeft }}:{{ product.minutesLeft }}:{{ product.secondsLeft }}</span> <br />
                    <br />
                    {% for picture in product.pictures.all %}
                        <img src="{{ picture.picture.url }}" height="90px" width="75px;" />
                    {% endfor %}
                </div>
                <div id="rightSlide" class="span3">
                    <span class="desc">
                        {% if product.description|length > 160 %}
                            {{ product.description|slice:":160" }}...<a href="/products/show/{{ product.name }}">Read More</a>
                        {% else %}
                            {{ product.description }}
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endfor %}
        <div id="rouletteNumbers">
            {% for product in products%}
                <button id="number{% cycle '1' '2' '3' '4' '5' %}" onClick="changeSlide({% cycle '1' '2' '3' '4' '5' %})">{% cycle '1' '2' '3' '4' '5' %}</button>
            {% endfor %}
        </div>
    </div>
    <div id="upcomingGame">
        {% if upcoming %}
            {% if upcoming.daysLeft == 0 %}
                <h1>{{ upcoming.name }}</h1>
                {{ upcoming.daysLeft }}:{{ upcoming.hoursLeft }}:{{ upcoming.minutesLeft }}:{{ upcoming.secondsLeft }} <br />
            {% else %}
                <h1>Next Game Pre-Order Begins In:</h1>
                {{ upcoming.daysLeft }}:{{ upcoming.hoursLeft }}:{{ upcoming.minutesLeft }}:{{ upcoming.secondsLeft }} <br />
                <p>Check back 24 hours before launch to find out what awesome game is released! Pre-Order early for greater rewards!</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% include "footer.html" with js="index" %}
