{% include "header.html" with page="account" css="showcart" title="Adelie Online" %}
<div class="container-fluid">
    {% if user.is_authenticated %}
        {% for order in cart.items.all %}
            {{ order.game.title }} <br />
            <label>Quantity:</label><input type="text" id="{{ order.id }}_quantity" value="{{ order.quantity }}" /> <br />
            <label>Console:</label>
            <select id="{{ order.id }}_console">
                {% for console in order.game.consoles.all %}
                    {% if order.console == console %}
                        <option value="{{ console.id }}" selected>{{ console.name }}</option>
                    {% else %}
                        <option value="{{ console.id }}">{{ console.name }}</option>
                    {% endif %}
                {% endfor %}
            </select><br />
            <button onClick="updateQuantity({{ order.id }})">Update</button>
            <button onClick="deleteItem({{ order.id }})">Delete</button><br />
        {% endfor %}
    {% else %}
        {% for item in cart %}
            {{ item.game.title }} <br />
            <label>Quantity:</label><input type="text" id="{{ item.id }}_quantity" value="{{ item.quantity }}" /> <br />
            <label>Console:</label>
            <select id="{{ item.id }}_console">
                {% for console in item.game.consoles.all %}
                    {% if item.console == console %}
                        <option value="{{ console.id }}" selected>{{ console.name }}</option>
                    {% else %}
                        <option value="{{ console.id }}">{{ console.name }}</option>
                    {% endif %}
                {% endfor %}
            </select><br />
            <button onClick="updateQuantity({{ item.id }})">Update</button>
            <button onClick="deleteItem({{ item.id }})">Delete</button><br />
        {% endfor %}
    {% endif %}
    <a href="/checkout">Proceed To Check Out</a>
</div>
{% include "footer.html" with js="showcart" %}