{% include "header.html" with page="products" css="showproduct" title="Adelie Online" %}
<div class="container">
    <div class="row">
        <div class="span2">
            <div class="hero-unit" id="leftHolder">
                <ul id="consoleList">
                    <li><a href="/products">All Products</a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="rightHolder">
            <div id="showGame">
                <div class="span4" id="leftSide">
                    <p><h1>{{ product.name }}</h1></p>
                    <span>Sale Ends:</span><br />
                    <span id="countdown"></span>
                    <span id="gameTagLine"> {{ product.tagLine }}</span>
                    <label>Quantity</label>
                    <select id="orderQuantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button id="placeOrder" onClick="add_to_cart({{ product.id }})">Add To Cart</button>

                    <p>Preorder Sale ends:</p>
                    <p>{{ product.description }}</p>
                </div>
                <div class="span5" id="rightSide">
                    <div id="pictures">
                        <ul id="pictureList">
                        {% for pic in product.pictures.all %}
                            <li>
                                <img src="{{ pic.picture.url }}" height="120px" width="120px" />
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    product_countdown = '+{{ product.daysLeft }}d +{{ product.hoursLeft }}h +{{ product.minutesLeft }}m +{{ product.secondsLeft }}s';
</script>
{% include "footer.html" with js="showproduct" %}
