{% include "header.html" with page="account" css="showcart" title="Adelie Online" %}
<div class="container-fluid">
    {% if user.is_authenticated %}
        {% for order in cart.items.all %}
            {{ order.product.name }} <br />
            <label>Quantity:</label><input type="text" id="{{ order.id }}_quantity" value="{{ order.quantity }}" /> <br />
            <button onClick="updateQuantity({{ order.id }})">Update</button>
            <button onClick="deleteItem({{ order.id }})">Delete</button><br />
        {% endfor %}
    {% else %}
        {% for item in cart %}
            {{ item.product.name }} <br />
            <label>Quantity:</label><input type="text" id="{{ item.id }}_quantity" value="{{ item.quantity }}" /> <br />
            <button onClick="updateQuantity({{ item.id }})">Update</button>
            <button onClick="deleteItem({{ item.id }})">Delete</button><br />
        {% endfor %}
    {% endif %}
    <a href="/checkout">Proceed To Check Out</a>
</div>
{% include "footer.html" with js="showcart" %}
