{% include "header.html" with page="upcoming" css="upcoming" title="Adelie Online" %}
<div class="container">
    <div class="row">
        <div class="span12 row" id="rightHolder">
            <ul id="gameList">
                {% for product in products %}
                    {% if product.daysLeft == 0 %}
                        <li id="list{{ product.id }}">
                            <div class="span2">
                                <span class="picture"><img src="{{ product.picture.picture.url }}" width="100px" height="100px" /></span><br />
                            </div>
                            <div class="span2">
                                <span class="title">{{ product.name }}</span> <br />
                                <span class="ships">Ships: {{ product.shipDate|date:"m/d/Y" }}</span>
                            </div>
                            <div class="span4">
                                {% if product.description|length > 160 %}
                                    {{ product.description|slice:":160" }}...<a href="/products/show/{{ product.name }}">Read More</a>
                                {% else %}
                                    {{ product.description }}
                                {% endif %}
                                <span class="ends">Ends: </span>
                                <span id="countdown_game_{{ product.id }}"></span>
                            </div>
                            <div class="span2">
                                <button class="preorderButton" onClick="window.location = '/products/show/{{ product.name }}'">Pre-Order Now</button> <br />
                            </div>
                        </li>
                    {% else %}
                        <li id="list{{ product.id }}">
                            <div class="span2">
                            </div>
                            <div class="span2">
                                <span class="title">??????????</span> <br />
                                <span class="ships">Ships: ??????????</span>
                            </div>
                            <div class="span4">
                                <h3>Pre-Order Starts In:</h3>
                                <span id="countdown_game_{{ product.id }}"></span>
                                <span>We will announce the title 24 hours before the start of the sale. Get Psyched!</span>
                            </div>
                        </li> 
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    upcoming_products = []
    {% for product in products %}
        upcoming_products.push(['{{ product.id }}', '+{{ product.daysLeft }}d +{{ product.hoursLeft }}h +{{ product.minutesLeft }}m +{{ product.secondsLeft }}s']);
    {% endfor %}
</script>
{% include "footer.html" with js="upcoming" %}
