{% include "header.html" with page="upcoming" css="upcoming" title="Adelie Online" %}
<div class="container">
    <div class="row">
        <div class="span2">
            <div class="hero-unit" id="leftHolder">
                <ul id="consoleList">
                    <li><a href="/products">All Products</a></li>
                </ul>
            </div>
        </div>
        <div class="span10 row" id="rightHolder">
            <ul id="gameList">
                {% for product in products %}
                    {% if product.daysLeft == 0 %}
                        <li id="list{{ product.id }}">
                            <div class="span2">
                                <span class="picture"><img src="{{ product.picture.picture.url }}" width="100px" height="100px" /></span><br />
                            </div>
                            <div class="span2">
                                <span class="title">{{ product.name }}</span> <br />
                                <span class="ships">Ships: {{ product.shipDate|date:"m/d/Y" }}</span>
                            </div>
                            <div class="span3">
                                {% if product.description|length > 160 %}
                                    {{ product.description|slice:":160" }}...<a href="/products/show/{{ product.name }}">Read More</a>
                                {% else %}
                                    {{ product.description }}
                                {% endif %}
                                <span class="ends">Ends: {{ product.daysLeft }}:{{ product.hoursLeft }}:{{ product.minutesLeft }}:{{ product.secondsLeft }}</span>
                            </div>
                            <div class="span2">
                                <button class="preorderButton" onClick="window.location = '/products/show/{{ product.name }}'">Pre-Order Now</button> <br />
                            </div>
                        </li>
                    {% else %}
                        <li id="list{{ product.id }}">
                            <div class="span2">
                            </div>
                            <div class="span2">
                                <span class="title">??????????</span> <br />
                                <span class="ships">Ships: ??????????</span>
                            </div>
                            <div class="span3">
                                <h3>Pre-Order Starts In:</h3>
                                <span class="ends">{{ product.daysLeft }}:{{ product.hoursLeft }}:{{ product.minutesLeft }}:{{ product.secondsLeft }}</span><br />
                                <span>We will announce the title 24 hours before the start of the sale. Get Psyched!</span>
                            </div>
                        </li> 
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include "footer.html" with js="upcoming" %}
